body {
    font-family: Snell Roundhand, cursive, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 42px;
}

header {
    background-color: #000;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.card {
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-content {
    padding: 1rem;
}

.search-bar, .filter-bar {
    margin: 1rem 0.5rem;
    padding: 0.8rem;
    border-radius: 8px;
}

.detail-character {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}


#backButton {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
        }

#backButton:hover {
        background-color: orange;
}

#paginationCont {
    display: flex;
    justify-content: center;
}

#paginationCont button {
    background-color: AliceBlue;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}


#paginationCont button.active {
    background-color: blue;
    color: white;
}


#paginationCont .ellipsis {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 16px;
}
